<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>




   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xopenapi -->
      <package
            uri="http://som.uoc.edu/xopenapi/2.0.0/"
            class="edu.uoc.som.xopenapi.XOpenAPIPackage"
            genModel="model/xopenapi.genmodel"/>
   </extension>

</plugin>
